.select {
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 20px;
}

select:hover {
  filter: brightness(0) invert(1);
  transition: filter 0.5s;
}

select:focus {
  outline: none;
}
